$secondary: #6db744;
$primary: #f6821f;
$orange: #ED6C0C;
$success: #094c12;
$dark-green: #001a03;
$active-green: #102C00;
$nasty-green: #6db744;
$pale-gray: #777777;
$light-green: #c0fdc0;
$mint-cream: #f5fff6;
$lighter-gray: #f4f4f4;
$gray: #474747;
$dark-gray: #323232;
$white: #ffffff;
$celadon-green: #c0fdc0;
$shadow-gray: #efefef;
$light-success: rgba(109, 183, 68, 0.3);
$deep-success: #28A745;
$light-blue: #1271BB;
