.attendance {
    &-card {
        padding: 1rem;
        border: 1px solid $pale-gray;
        border-radius: 8px;

        p {
            color: $light-gray;
            text-decoration: underline;
        }
    }
}